.card .card-text ul {
  list-style: none;
}

.cropAndResize {
  height: 333px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://static.wikia.nocookie.net/starwars/images/b/b0/Tatooine_TPM.png/revision/latest/scale-to-width-down/350?cb=20131019121937');
}

.pageinator-btn button{
  margin-top: 1.5rem ;
  margin-top: 1.5rem ;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
